@import "./assets/fonts/TASA_Explorer/stylesheet.css";
@import "./assets/fonts/TASA_Orbiter/stylesheet.css";

:root {
	font-family: "TASA Orbiter Deck Regular", system-ui, sans-serif;
	/* font-synthesis: none; */
	/* text-rendering: optimizeLegibility; */
	/* -webkit-font-smoothing: antialiased; */
	/* -moz-osx-font-smoothing: grayscale; */
	/* -webkit-text-size-adjust: 100%; */
	--at-apply: h-[100vh] overflow-hidden;
}

body {
	--at-apply: bg-background-main h-[100vh];
}

#titlebar {
	--at-apply: bg-titlebar-background select-none;
}

#root {
	--at-apply: relative h-full;
}
