@import "./assets/fonts/TASA_Explorer/stylesheet.css";
@import "./assets/fonts/TASA_Orbiter/stylesheet.css";

:root {
	font-family: "TASA Orbiter Deck Regular", system-ui, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

html {
	--at-apply: h-[100vh] max-h-[100vh];
}

body {
	--at-apply: h-full max-h-[100vh] bg-background-main;
}

button {
	--at-apply: bg-transparent;
}

#root {
	height: calc(100vh - 2rem);
	max-height: calc(100vh - 2rem);
	--at-apply: relative overflow-hidden;
}

#titlebar {
	--at-apply: bg-titlebar-background select-none;
}

::-webkit-scrollbar {
	--at-apply: w-2;
}

::-webkit-scrollbar-track {
	--at-apply: bg-scrollbar-background;
}

::-webkit-scrollbar-thumb {
	--at-apply: cursor-pointer bg-scrollbar-foreground-idle use-transition-standard transition-background-color;
}

::-webkit-scrollbar-thumb:hover {
	--at-apply: bg-scrollbar-foreground-hover;
}

::-webkit-scrollbar-thumb:active {
	--at-apply: bg-scrollbar-foreground-active;
}
