@import "./assets/fonts/TASA_Explorer/stylesheet.css";
@import "./assets/fonts/TASA_Orbiter/stylesheet.css";

:root {
	font-family: "TASA Orbiter Deck Regular", system-ui, sans-serif;

	/* font-synthesis: none; */
	/* text-rendering: optimizeLegibility; */
	/* -webkit-font-smoothing: antialiased; */
	/* -moz-osx-font-smoothing: grayscale; */
	/* -webkit-text-size-adjust: 100%; */
}

html {
	--at-apply: h-[100vh] max-h-[100vh];
}

body {
	--at-apply: h-full max-h-[100vh] bg-background-main;
}

button {
	--at-apply: bg-transparent;
}

#root {
	position: relative;
	height: calc(100vh - 2rem);
	max-height: calc(100vh - 2rem);
}

#titlebar {
	--at-apply: bg-titlebar-background select-none;
}
